<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".WordsEnglishActivity"
            android:exported="false" />
        <activity
            android:name=".PhuAmEnglishActivity"
            android:exported="false" />
        <activity
            android:name=".NguyenAmTiengAnhActivity"
            android:exported="false" />
        <activity
            android:name=".AlphaEnglishReviewActivity"
            android:exported="false" />
        <activity
            android:name=".AlphaEnglishActivity"
            android:exported="false" />
        <activity
            android:name=".EnglishLessonActivity"
            android:exported="false" />
        <activity
            android:name=".EnglishReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ExceriseMathActivity"
            android:exported="false" />
        <activity
            android:name=".TotalLessonDaoDucActivity"
            android:exported="false"
            android:label="@string/title_activity_total_lesson_dao_duc"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ReviewDaoDucActivity"
            android:exported="false" />
        <activity
            android:name=".LessonDaoDucActivity"
            android:exported="false" />
        <activity
            android:name=".BangCuuChuongActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewMathActivity"
            android:exported="false" />
        <activity
            android:name=".LessionMathActivity"
            android:exported="false" />
        <activity
            android:name=".GhepTuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTGhepTuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTGhepCauActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhuAmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NguyenAmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LessonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TipsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlphabetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>